<!DOCTYPE html>
<html lang="en">
  <head>
    <title>React ssr</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <div id="root"><%- reactApp %></div>
    <script>
      window.__PRELOADED_STATE__ = <%- preloadedState %>
    </script>
  </body>
</html>
