.feed-item-container {
  background-color: #f6f6ef;
  .feed-item-element-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 10px;
    .feed-item-small-font {
      display: flex;
      font-size: 12px;
    }
    .feed-wrapper-item-large-fonts {
      display: flex;
      align-items: center;
      align-content: center;
    }
    .feed-wrapper-item {
      margin-right: 5px;
      color: #828282;
      &.item-comments {
        min-width: 30px;
        text-align: right;
      }
      &.feed-item-points {
        min-width: 55px;
      }
      .label-black {
        color: black;
      }
      &.label-black {
        color: black;
      }
      a {
        color: #828282;
        text-decoration: none; /* no underline */
      }
      &.btn-hide {
        cursor: pointer;
      }
    }
    .upvote-icon {
      height: 0;
      width: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 10px solid #9a9a9a;
      cursor: pointer;
      margin-right: 10px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .feed-wrapper-item-large-fonts {
    min-width: 100%;
  }
  .feed-item-small-font {
    margin-top: 10px;
  }
}
