.feed-item-container {
  background-color: #f6f6ef;
  .feed-item-element-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 10px;
    .feed-item-small-font {
      display: flex;
      font-size: 10px;
    }
    .feed-wrapper-item-large-fonts {
      display: flex;
      align-items: center;
      align-content: center;
    }
    .feed-wrapper-item {
      margin-right: 5px;
      color: #828282;
      .label-black {
        color: black;
      }
      &.label-black {
        color: black;
      }
      a {
        color: #828282;
        text-decoration: none; /* no underline */
      }
      &.feed-item-points {
        margin-right: 15px;
      }

      &.btn-hide {
        cursor: pointer;
      }
    }
    .upvote-image {
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 600px) {
  .feed-wrapper-item-large-fonts {
    min-width: 100%;
  }
  .feed-item-small-font {
    margin-top: 10px;
  }
}
